@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Herr+Von+Muellerhoff&family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: "Space Grotesk", sans-serif;
  color: white;
  cursor: url('/pointer.png') 16 16, auto;
  user-select: none;
}

.black-cursor {
    cursor: url('/mouse-pointer-black.png') 16 16, auto;
  }


.grad {
  background: linear-gradient(to bottom, #2a2a2a , #151515, #151515 );
}
h1 {
  font-size: 5.5rem;
  font-weight: bold;
  line-height: 5.5rem;
  letter-spacing: -0.15625rem;
}

h2 {
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.09375rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

p {
  font-size: 1.125 rem;
  line-height: 1.75rem;
}

.script {
  font-family: "Herr Von Muellerhoff";
}

@keyframes moveWithin {
  0% {
    transform: scale(1.2) translate(0, 0);
  }
  25% {
    transform: scale(1.2) translate(-10px, 10px);
  }
  50% {
    transform: scale(1.2) translate(10px, -10px);
  }
  75% {
    transform: scale(1.2) translate(10px, 10px);
  }
  100% {
    transform: scale(1.2) translate(0, 0);
  }
}

.animate-moveWithin {
  animation: moveWithin 12s ease-in-out infinite;
}


@keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-marquee {
    display: flex;
    width: calc(200%); /* Adjust the width to double the length of the content */
    animation: marquee 20s linear infinite;
  }
  

.blue-grad {
    background: linear-gradient(to bottom, #fdfdfd, #CCF9FF, #CCF9FF);
    transition: background 0.3s ease;
}

.no-scroll {
    overflow: hidden;
  }


  @keyframes slideOut {
    0% {
      transform: translatex(0);
       opacity: 1;
    }
    100% {
      transform: translatex(-100rem);
      opacity: 0;
    }
  }

  .animate-slide-out {
    animation: slideOut 0.5s ease;
  }


  @keyframes slideIn {
    0% {
      transform: translatex(-30rem);
       opacity: 0;
    }
    100% {
      transform: translatex(0);
      opacity: 1;
    }
  }

  .animate-slide-in {
    animation: slideIn 0.5s ease;
  }


  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

    .animate-fade-in {
        animation: fadeIn 1.5s ease;
    }
    .animate-fade-in2 {
        animation: fadeIn 1s ease;
    }

    @keyframes fadeOut {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    
        .animate-fade-out {
            animation: fadeOut 0.6s ease;
        }

    
        @keyframes slide-in-up {
            0% {
              transform: translateY(100%);
              opacity: 0;
            }
            100% {
              transform: translateY(0);
              opacity: 1;
            }
          }
        
          .animate-slide-in-up {
            animation: slide-in-up 0.6s ease;
          }

          @keyframes slide-out-down {
            0% {
              transform: translateY(0);
              opacity: 1;
            }
            100% {
              transform: translateY(100%);
              opacity: 0;
            }
          }

            .animate-slide-out-down {
                animation: slide-out-down 0.6s ease;
            }
          @keyframes slide-in-right {
            0% {
              transform: translateX(100%);
              opacity: 0;
            }
            100% {
              transform: translateX(0);
              opacity: 1;
            }
          }
        
          .animate-slide-in-right {
            animation: slide-in-right 0.5s ease;
          }

          @keyframes slide-in-left {
            0% {
              transform: translateX(-100%);
              opacity: 0;
            }
            100% {
              transform: translateX(0);
              opacity: 1;
            }
          }
        
          .animate-slide-in-left {
            animation: slide-in-left 0.5s ease;
          }

          @keyframes slide-out-up {
            0% {
              transform: translateY(0);
              opacity: 1;
            }
            100% {
              transform: translateY(-100%);
              opacity: 0;
            }
          }
        
          .animate-slide-out-up {
            animation: slide-out-up 0.5s ease;
          }

          @keyframes slide-out-down {
            0% {
              transform: translateY(0);
              opacity: 1;
            }
            100% {
              transform: translateY(100%);
              opacity: 0;
            }
          }
        
          .animate-slide-out-down {
            animation: slide-out-down 0.5s ease;
          }

          @keyframes slide-out-right {
            0% {
              transform: translateX(0);
              opacity: 1;
            }
            100% {
              transform: translateX(100%);
              opacity: 0;
            }
          }
        
          .animate-slide-out-right {
            animation: slide-out
        }